In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'Adding and Updating Dataframes.ipynb',
 'Dropping Columns and Rows in a Dataframe.ipynb',
 'Indexing and Slicing Dataframes.ipynb',
 'Loading Files into Pandas DataFrame.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testing.ipynb',
 'Using Geopy.ipynb']

In [3]:
import pandas as pd
input_data = pd.read_csv("supermarkets.csv" , index_col = 0)
input_data

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
from geopy.geocoders import Nominatim
nom = Nominatim()

In [5]:
type(nom)

geopy.geocoders.osm.Nominatim

In [7]:
input_data["Address"] = input_data["Address"] + ", " + input_data["City"] + ", " + input_data["State"] + ", " + input_data["Country"]
input_data

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [12]:
input_data["Address"]

ID
1           3666 21st St, San Francisco, CA 94114, USA
2         735 Dolores St, San Francisco, CA 94119, USA
3    332 Hill St, San Francisco, California 94114, USA
4           3995 23rd St, San Francisco, CA 94114, USA
5      1056 Sanchez St, San Francisco, California, USA
6        551 Alvarado St, San Francisco, CA 94114, USA
Name: Address, dtype: object

In [13]:
type(input_data["Address"])

pandas.core.series.Series

In [16]:
add = input_data["Address"][1]

In [17]:
n = nom.geocode(add) # geocode takes in the format: Road Name, City, Zip Code, Country

In [18]:
n

Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0))

In [19]:
type(n)

geopy.location.Location

In [21]:
n.latitude

37.756488877551

In [22]:
n.longitude

-122.429343346939

In [ ]:
#Applying the above conversion to the entire DataSet needs us to use the apply method which applies a function to the entire
#DataSet

In [23]:
input_data["Coordinates"] = input_data["Address"].apply(nom.geocode)

In [24]:
input_data

,Address,City,State,Country,Name,Employees,Coordinates
ID,,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [26]:
input_data["Latitude"] = input_data["Coordinates"].apply(lambda x: x.latitude if x != None else None)
input_data["Longitude"] = input_data["Coordinates"].apply(lambda x: x.longitude if x != None else None)
input_data

,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
ID,,,,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220